models:
  default:
    adapter_dir: null
    base_model: C:/1_GitHome/Local-LLM-Server/LLM/models/unsloth__Phi-4-bnb-4bit
    model_type: instruct
    port: 10505
    system_prompt: ''
    use_4bit: true
  nvidia_Llama-3.1-Nemotron-Nano-8B-v1:
    adapter_dir: null
    base_model: C:\1_GitHome\Local-LLM-Server\LLM\models\nvidia_Llama-3.1-Nemotron-Nano-8B-v1
    model_type: base
    port: 10502
    system_prompt: ''
    use_4bit: true
  nvidia_NVIDIA-Nemotron-3-Nano-30B-A3B-BF16:
    adapter_dir: null
    base_model: C:\1_GitHome\Local-LLM-Server\LLM\models\nvidia__NVIDIA-Nemotron-3-Nano-30B-A3B-BF16
    model_type: base
    port: 10503
    system_prompt: ''
    use_4bit: true
  phi4_assistant:
    adapter_dir: null
    base_model: C:/1_GitHome/Local-LLM-Server/LLM/models/unsloth__Phi-4-bnb-4bit
    model_type: instruct
    port: 10501
    system_prompt: You are a helpful AI assistant.
    use_4bit: true
  unsloth_gemma-2-2b-it-bnb-4bit:
    base_model: C:\1_GitHome\Local-LLM-Server\LLM\models\unsloth__gemma-2-2b-it-bnb-4bit
    adapter_dir: null
    model_type: instruct
    port: 10500
    use_4bit: true
    system_prompt: ''
  unsloth_Phi-4-bnb-4bit:
    base_model: C:\1_Git\LocaLLM\LLM\models\unsloth__Phi-4-bnb-4bit
    adapter_dir: null
    model_type: base
    port: 10504
    use_4bit: true
    system_prompt: ''
  model_1768623374:
    base_model: C:\1_Git\LocaLLM\LLM\models\nvidia__NVIDIA-Nemotron-3-Nano-30B-A3B-BF16
    adapter_dir: null
    model_type: base
    port: 10507
    use_4bit: true
    system_prompt: ''
  model_1768623773:
    base_model: C:\1_Git\LocaLLM\LLM\models\unsloth__gemma-2-2b-it-bnb-4bit
    adapter_dir: null
    model_type: instruct
    port: 10506
    use_4bit: true
    system_prompt: ''
  nvidia_Llama-3.1-Nemotron-Nano-VL-8B-V1:
    base_model: C:\1_Git\LocaLLM\LLM\models\nvidia_Llama-3.1-Nemotron-Nano-VL-8B-V1
    adapter_dir: null
    model_type: base
    port: 10508
    use_4bit: true
    system_prompt: ''
  model_1768630880:
    base_model: C:\1_Git\LocaLLM\LLM\models\nvidia_Llama-3.1-Nemotron-Nano-8B-v1
    adapter_dir: null
    model_type: base
    port: 10509
    use_4bit: true
    system_prompt: ''
  unsloth_llama-3.2-1b-instruct-unsloth-bnb-4bit:
    base_model: C:\1_Git\LocaLLM\LLM\models\unsloth__llama-3.2-1b-instruct-unsloth-bnb-4bit
    adapter_dir: null
    model_type: instruct
    port: 10510
    use_4bit: true
    system_prompt: ''
  elinas_alpaca-30b-lora-int4:
    base_model: C:\1_Git\LocaLLM\LLM\models\elinas__alpaca-30b-lora-int4
    adapter_dir: null
    model_type: base
    port: 10511
    use_4bit: true
    system_prompt: ''
  unsloth_Llama-3.2-11B-Vision-Instruct-bnb-4bit:
    base_model: C:\1_Git\LocaLLM\LLM\models\unsloth__Llama-3.2-11B-Vision-Instruct-bnb-4bit
    adapter_dir: null
    model_type: instruct
    port: 10512
    use_4bit: true
    system_prompt: ''
  deepseek-ai_DeepSeek-Coder-V2-Lite-Instruct:
    base_model: C:\1_Git\LocaLLM\LLM\models\deepseek-ai__DeepSeek-Coder-V2-Lite-Instruct
    adapter_dir: null
    model_type: instruct
    port: 10513
    use_4bit: true
    system_prompt: ''
